.chess {
	width: 800px;   
	margin: 0 auto;	
    box-sizing: border-box;
    display : inline-block;
    height : 740px; 
    border : 20px solid transparent;
    border-image-source: url(../img/board.jpg);
    -moz-border-image: url(../img/board.jpg) 14 10 0 0;
    -webkit-border-image: url(../img/board.jpg) 14 10 0 0; 
    -o-border-image: url(../img/board.jpg) 14 10 0 0; 
}

.chess li {
    float: left;
    list-style: none;
 	width: 12%;   
	border: 1px solid #ddd;
	margin: -1px -1px 0 0; 
	padding: 40px 0;
    text-align: center;
    background-image: repeating-linear-gradient(
        to top right, #e2a369 30px, #d88f63 60px, #e19b64 61px);
}

.chess li:nth-child(-n+8):nth-child(even) {
 background-image:radial-gradient(50px,white,black,grey,black, #846b5d, #271103 70%);
}
 
.chess li:nth-child(n+9):nth-child(-n+16):nth-child(odd){
	background-image:radial-gradient(50px,white,black,grey,black, #846b5d, #271103 70%);
}
 
.chess li:nth-child(n+17):nth-child(-n+24):nth-child(even) {
	background-image:radial-gradient(50px,white,black,grey,black, #846b5d, #271103 70%);
}
 
 .chess li:nth-child(n+25):nth-child(-n+32):nth-child(odd) {
	background: #271103;
}

.chess li:nth-child(n+33):nth-child(-n+40):nth-child(even) {
	background: #271103;
}

.chess li:nth-child(n+41):nth-child(-n+48):nth-child(odd) {
	background-image:radial-gradient(50px,black,grey, white, grey, white, #271103 70%);
}

.chess li:nth-child(n+49):nth-child(-n+56):nth-child(even) {
	background-image:radial-gradient(50px,black,grey, white, grey, white, #271103 70%);
}

.chess li:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
	background-image:radial-gradient(50px,black,grey, white, grey, white, #271103 70%);
}